<%= bootstrap_devise_error_messages! %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.sign_up', :default => "Sign up") %></h4>
    </div>
    <div class="panel-body">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :firstName, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :lastName, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %><i> (Password must be at least 8 characters)</i><br />
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :age %>
          <%= f.number_field :age, class: "form-control", min: 0, max: 120 %>
        </div>
        <div class="form-group">
          <%= f.label :gender %><br />
          <%= f.select :gender, options_for_select(['','Prefer not to disclose','Male','Female','Trans*'], f.object.gender), {}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :ethnicity %><br />
          <%= f.select :ethnicity, options_for_select(['','Prefer not to disclose','Non-Hispanic White or Euro-American','Black, Afro-Caribbean, or African American','Latino or Hispanic American','East Asian or Asian American','South Asian or Indian American','Middle Eastern or Arab American','Native American or Alaskan Native','Other'], f.object.ethnicity), {}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :religion %><br />
          <%= f.select :religion, options_for_select(['','Prefer not to disclose','Christian','Muslim','Hindu','Atheist/Agnostic/Nonreligious','Spiritual but not Religious','Chinese Traditional','Buddhist','Tribal Religious','Sikh','Jewish','Baha\'i','Other'], f.object.religion), {}, {class: "form-control"} %>
        </div>
				<div class="form-group">
					<%= f.label :country %><br />
					<%= f.text_field :country, class: "form-control" %>
        </div>
				<div class="form-group">
					<%= f.label :education %><br />
					<%= f.select :education, options_for_select(['','Prefer not to disclose','Non-traditional schooling','Completed high school','Some college','Completed bachelor of arts','Some graduate education','Completed graduate education'], f.object.education), {}, {class: "form-control"} %>
        </div>
				<div class="form-group">
					<%= f.label :family_income %><br />
					<%= f.select :family_income, options_for_select(['','Prefer not to disclose','Below $25,000','$25,000-$45,000','$45,000-$65,000','$65,000-$85,000','$85,000-$105,000','Above $105,000'], f.object.family_income), {}, {class: "form-control"} %>
        </div>
        <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
				<br /><br /><div class="well well-sm">
					We will never sell or trade your information, and it will be used only for research purposes to advance science. We will also provide you with occasional updates about the app and other Intentional Insights contents. We welcome you to to <a href="http://s.bl-1.com/h/rSTgXm1?url=http://intentionalinsights.org/about" target="_blank" >learn more</a> about and <a href="http://s.bl-1.com/h/rSThc83?url=http://intentionalinsights.org/view/donate" target="_blank" >support</a> Intentional Insights, the nonprofit organization that created the app.
				</div>
      <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>