<p id="notice"><%= notice %></p>

<p>
  <strong>Textanswer:</strong>
  <%= @answer.textAnswer %>
</p>

<p>
  <strong>Intanswer:</strong>
  <%= @answer.intAnswer %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
