<!DOCTYPE html>
<html>
<head>
  <title>Find Your Purpose Beta</title>
  <link rel="icon" href="https://pav2.s3.amazonaws.com/intentionalinsights/1.1/resources/img/favicon_32.ico">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
